# Django
SECRET_KEY=Mmust_voting-r1.com
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,mmust-online-voting.onrender.com

# Database
DB_NAME=mmust_voting
DB_USER=mmust_user
DB_PASSWORD=ZyberCrafts-01.com          # Change this to a strong password
DB_HOST=localhost
DB_PORT=5432

# Email (Gmail with App Password)
EMAIL_HOST_USER=festusonwonga@gmail.com
EMAIL_HOST_PASSWORD=uokkgxrsskupflzz
DEFAULT_FROM_EMAIL=festusonwonga@gmail.com  

# SMS (Africa's Talking)
SMS_API_KEY=your_africastalking_api_key
SMS_USERNAME=your_username

# Portal API (optional)
MMUST_PORTAL_API_URL=https://mmuststudentportal.ac.ke/api
MMUST_PORTAL_API_KEY=your_portal_api_key

# Election master passphrase
ELECTION_MASTER_PASSPHRASE=very-strong-passphrase

# Redis (Celery) – optional in development
REDIS_URL=redis://localhost:6379