Django>=4.2,<5.0
psycopg2-binary
django-cryptography
djangorestframework
django-otp
celery
redis
pycryptodome
Pillow
opencv-python-headless
numpy
requests
python-dotenv
gunicorn
qrcode
channels
channels-redis
django-webpush
django-sslserver
openai
textblob
daphne
eventlet
django-ratelimit